/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Secciones generales */
section {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos únicos para cada sección */
.hobbies {
    background-color: #ffefcf;
    color: #8a5a00;
}

.tareas {
    background-color: #d8effb;
    color: #005f73;
}

.horario {
    background-color: #fbe4e6;
    color: #b3001b;
}

table {
    margin: 10px auto;
    border-collapse: collapse;
    width: 90%;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f0f0f0;
}

/* Estilos del Formulario */
.formulario {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}

.formulario label {
    display: block;
    margin: 10px 0 5px;
}

.formulario input {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.formulario button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
}

.formulario button:hover {
    background-color: #005bb5;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}